﻿@model MarvelAPI.Model.Character

<h1> Character of Marvel! </h1>
<div style=" margin-top: 75px; overflow: hidden;">
    <div margin-right: 75px; style="float: left;">
        <img src="@Model.LinkPhoto" height="250" width="250" />
        <p><b>ID:</b> @Model.ID - <b>Name:</b> @Model.Name</p>
    </div>
    <div style="margin-left: 75px;">
        <p><b>&nbsp;&nbsp; Description: </b>@Model.Description</p>
        <br /><br />
        <p><b>&nbsp;&nbsp;Story: </b>@Model.Story</p>
    </div>
</div>