﻿@model Marvel.API.Model.Character


<div style=" margin-top: 75px; overflow: hidden;">
    <div class="text-center text-success">
        <h1> Character of Marvel! </h1>
    </div>
    
        <div style="margin-right:75px; float: left;">
            <img src="@Model.LinkPhoto" height="280" width="280" />
            <p><b>ID:</b> @Model.ID </p>
        </div>
    
    <div class="container">
        <div style="margin-left: 55px;">
            <h2>@Model.Name</h2>
            <p><b>Description: </b>@Model.Description</p>
            <br />
            <p><b>Story: </b>@Model.Story</p>
        </div>
    </div>
</div>
<button type="button" class="btn btn-outline-secondary">
    @Html.ActionLink("Página Incial", "Index", "Home", new { returnUrl = "Home/Index" }, null)
</button>
        
    <link href="~/css/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-4.3.1-dist/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css" rel="stylesheet">
