﻿<div class="row no-gutter">
    @{
        string[] imgs = {
                    "~/imagens/imagemMarvel.PNG",
                    "~/imagens/imagemMarvel2.PNG",
                    "~/imagens/imagemMarvel3.PNG"

         };
    }
    @foreach (var img in imgs)
    {
        <div class="col-md-4 col-md-4 ">
            <div class="text-center">
                <a href="#" class="portfolio-box">
                    <img src="@Url.Content(img)" alt="Heros" width="380" height="200"/>
                </a>
            </div>
        </div>
    }
</div>