﻿@model Marvel.API.Model.InfoHome
@{
    ViewData["Title"] = "Index";
}
<div class="text-center border">
    <h2>@Model.Title</h2>
</div>
    <div class="text-center">
        <div class="form-group has-success">
            <p>@Model.Description</p>
            <p><b>@Model.Link</b></p>
            <p>@Model.Examples</p>
        </div>
    </div>
<section id="heros" >
    @await Html.PartialAsync("_IndexPartial")
</section>

<link href="~/css/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="~/css/bootstrap-4.3.1-dist/css/bootstrap-grid.min.css" rel="stylesheet">
<link href="~/css/bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css" rel="stylesheet"> 